<link rel="stylesheet" href="css/content.css">

<h1>
	Amazon Web Services
</h1>
<p>
	Amazon Web Services (AWS) is a cloud service provider with over 60 data centers across the whole world. AWS provides a multitude of services from database storage, auxiliary processing, analytics, Internet of Things and many more. AWS has the global infrastructure necessary for producing the results so many companies want. 
</p>
<p>
	The These data centers or "Availability Zones" can be seen below:
</p>
<img src="/img/awsglobalnetwork.jpg">