<link rel="stylesheet" href="css/content.css">

<h1>
	Azure
</h1>

<p>
	Azure is a Microsoft run cloud service provider. This particular services runs a ‘pay-as-you-use’ model, meaning you will only have to pay for the storage or running time you actually use. This helps minimise user expenditure on unnecessary elements of packages they never end up using. With 54 “Azure Regions” around the globe, Azure boasts the most  data centers than any other cloud provider.
</p>
<img src = "/img/azureregions.jpg">