<link rel="stylesheet" href="css/content.css">

<h1>
	DigitalOcean
</h1>

<p>
	DigitalOcean is yet another cloud service provider. Their main focus is on scalability, a feature present in all cloud service providers. One major feature that DigitalOcean does have over its competitors is its online marketplace. This allows users to purchase apps that can better suit their personal and business needs. This reduces the costs of developing ‘in-house’ softwares as they won’t have to be developed from scratch, or developed at all since it already comes in an easy to user, already complete package. 

</p>