<link rel="stylesheet" href="css/content.css">

<h1>
	Web Backends
</h1>
<p>
	If the frontend development (HTML/CSS, JavaScript) is the facade of the website, backend is the structural integrity of the website. The backend is responsible for things such as the calculations, business logic, database management and interactions, handling user performance. This technology is for managing and processing incoming user requests, generating the required responses, and sending this response to the user client. This generally occurs in three major steps;
</p>
<ul>
	<li><b>Server:</b> Computer that receives the incoming request</li>
	<li><b>Application:</b> Program that awaits for requests, performs its relative calculations, and sends the response out</li>
	<li><b>Database:</b> Table that holds persistent data that the application can access, read, write, manipulate and use to calculate</li>
</ul>