<link rel="stylesheet" href="css/content.css">
<h1>
	.NET
</h1>
<p>
	.NET was developed by Microsoft. The purpose of this application is to allow for cross language interoperability. This enables for different code segments to be ‘stitched’ together to allow all functions to work. .NET has multiple Application Programming Interfaces (APIs) which enables for an even wider range of possibilities to emerge.
</p>
<p>
	.NET apps can be written in C#, F# or Visual Basic
</p>
<ul>
	<li>C# is a simple, general purpose and object-oriented programming language.</li>
	<li>F# is a functional language which is open-platform and openly-sourced language for .NET. It also allows for object-oriented and imperative programming.</li>
	<li>Visual Basic is a non-intimidating language for beginners due to its simple syntax in building object-oriented applications.   </li>
</ul>
