<link rel="stylesheet" href="css/content.css">

<h1>
		Nginx
	</h1>
	
	<p>
		Nginx is also a web server. It receives requests and sends results. However, what makes Nginx unique is its ability to handle large volumes of users. In fact, Nginx was made by Igor Sysoev to solve this problem (The C10k Problem) in the late 90’s. It does so by offering low memory usage and high concurrency. This is enabled by it handling multiple user requests (all of which are similar) in a single thread. This allows for the system to work independently of each other, and not slow eachother down. 
	</p>
	<img src="/img/ngin.png">