<link rel="stylesheet" href="css/content.css">


<h1>
		PHP
	</h1>
	<p>
		PHP (Hypertext PreProcessor) is a programming language that can be embedded into HTML code. The main purpose of this is to allow <b>server-side</b> scripting to occur. This essentially means that the code is run on the server, and these results are the sent to the user. This means that the user can not ‘see’ the code behind the scenes
	</p>
	<table>
	  <tr>
		<td>< ?php</td>
	  </tr>
		<tr>
		<td><mark class="terminalgreen">//PHP goes here</mark></td>
	  </tr>
		<td>?></td>
	</table>
	
	<h2>
		Starting a PHP Program
	</h2>
	<p>
		A PHP script can begin anywhere in the document with the file extension of “.php”.
	</p>
	
	<p>
		A simple example of a PHP program that prints out “Hello World” to the screen can be seen below:
	</p>
	<table>
	  <tr>
		<td><mark>< !DOCTYPE html ></mark></td>
	  </tr>
	   <tr>
		<td>< html ></td>
	  </tr>
		<tr>
		<td>
			
			</html></td>
	  </tr>
	   <tr>
		   <td>< body >
			   
			   </body></td>
	  </tr>
		<tr>
		<td>< ?php</td>
	  </tr>
	   <tr>
		<td><mark class="blue">echo </mark>"Hello World!"</td>
	  </tr>
		<tr>
		<td>?></td>
	  </tr>
	   <tr>
		   <td>< /body ><//body></td>
	  </tr>
	</tr>
	   <tr>
		   <td>< /html ><//html></td>
	
	</table>