<head>

<!-- favicon -->
<link rel="shortcut icon" href="/img/logos/favicon.ico" type="image/x-icon">
<link rel="icon" href="/img/logos/favicon.ico" type="image/x-icon">

<!-- css -->
<link rel="stylesheet" href="css/header.css">

<!-- jQuery -->
<script src="js/jquery-3.3.1.min.js"></script>

<!-- title -->
<title>WebHub</title>

<!-- top menu -->
<div class="topnav">
    <a class="topmenuItem" id="home" href="/home">Home</a>
    <a class="topmenuItem" id="messages" href="/message">Messages</a>
    <a class="topmenuItem" id="profile" href="/profile">Profile</a>
    <a href="/home"><img src="/img/logos/Logo1-white.png" class="topmenuLogo"></a>
</div>

<!-- side bar -->
<div class="sidenav">
  <div class="dropdown">
    <a class="dropbtn" id="webDev">Web Development</a>
    <div class="dropdown-content">
      <a href="/content/ht-cs">HTML/CSS</a>
      <a href="/content/jas">JavaScript</a>
      <a href="/content/pyt">Python</a>
    </div>
  </div>

  <div class="dropdown">
    <a class="dropbtn" id="hosting">Hosting Your Website</a>
    <div class="dropdown-content">
      <a href="/content/apach">Apache</a>
      <a href="/content/ngin">Nginix</a>
      <a href="/content/aws">AWS</a>
      <a href="/content/azure">Azure</a>
      <a href="/content/digoc">Digital Ocean</a>
    </div>
  </div>

  <div class="dropdown">
    <a class="dropbtn" id="furtherInfo">Further Information</a>
    <div class="dropdown-content">
      <a href="/content/net">.NET</a>
      <a href="/content/php">PHP</a>
      <a href="/content/frames">Frameworks and Libraries</a>
      <a href="/content/stack">The TCP/IP Stack</a>
      <a href="/content/ends">Web Front/Back Ends</a>
    </div>
  </div>

</div>

<!-- header script -->
<script src="js/script_head.js"></script>
</head>

<br>
<br>

<body>